/* General styles */
body {
  font-family: Verdana, sans-serif;
  background-color: #ede5d5;
  margin: 2px;
  margin-bottom: 20px;
}

/* Header styles */
header {
  background-color: #c59f54ee;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
}

/* Modal styles */
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Map container styles */
#map-container {
  position: relative;
  height: 400px;
}

#map {
  width: 100%;
  height: 400px;
}

#stories-container {
  padding: 20px;
}

/* Filter container styles */
#filter-container {
  margin-top: 20px;
}

#filter-toggle {
  display: block;
  width: 100%;
}

#filter-content {
  display: none;
  padding: 10px;
  background-color: #ede5d5;
}

.collapsed #filter-content {
  display: none;
}

/* News and stats container styles */
#news-container,
#stats-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
}
