/* General styles */
body {
  position: relative;
  min-height: 100vh;
  font-family:'Gill Sans', sans-serif;
  background-color: #ede5d5;
  margin: 2;
  padding: 0;
}

/* Header styles */
header {
  background-color: #c59f54ee;
  padding: 20px;
}

header h1 {
  margin: 0;
}

header ul li {
  display: inline;
  margin-right: 20px;
  position: relative;
}

header ul li a {
  text-decoration: none;
  color: #492c07;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content h1,
.modal-content p {
  color: #311d03;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Map container styles */
#map-container {
  display: flex;
  height: calc(100vh - 120px); /* Adjust the height as needed */
}

#map {
  flex: 1;
  margin-right: 10px; /* Adjust the vertical gap size as needed */
}

#sidebar {
  flex: 0 0 300px; /* Adjust the width of the sidebar as needed */
  background-color: #ede5d5;
  color: black;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling if needed */
}


#stories {
  overflow-y: scroll;
  height: calc(100% - 40px);
  text-align: justify;
}
.posStory {
  background-color: #cff7b9;
  /* other styling properties */
  text-align: justify;
  padding: 20px;
}

.negStory {
  background-color: #f2b2a4;
  /* other styling properties */
  text-align: justify;
  padding: 20px;
}

.neuStory {
  background-color: #b0b9f4;
  /* other styling properties */
  text-align: justify;
  padding: 20px
}

.noStory {
  background-color: #f1d0ab;
  /* other styling properties */
  text-align: justify;
  padding: 20px
}

.boundary {
  opacity: 1;
  fill: #000000 !important;
  /* Additional boundary styles */
}
.polygon {
  opacity: 0.7;
  /* Additional styles for the rest of the polygon */
}

/* Footer styles */
footer {
  font-family: 'DM Sans', sans-serif;
  background-color: #c59f54ee;
  text-align: center;
  padding: 20px;
}

footer p {
  margin-bottom: 0;
  position: relative;
}

footer p::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #311d03;
  margin-right: 10px;
}


button {
  font-size: 20px;
  padding: 15px 32px;
  margin: 5px;
  background-color: #eecca7;
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  margin: 1.5rem;
  transition: all 0.5s ease;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(110%);
}

/* Filter container styles */
#filter-container {
  margin-top: 20px;
}

#filter-toggle {
  display: block;
  width: 100%;
}

#filter-content {
  display: none;
  padding: 10px;
  background-color: #ede5d5;
}

.collapsed #filter-content {
  display: none;
}

/* News and stats container styles */
#news-container,
#stats-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
}
